body {
    background-image:  linear-gradient(to right, #606075, #182F59, #2CEEE1);
    color: #F0F8FF;
    min-height: 100%;
    font-family: 'Baloo Bhaina 2', cursive;
}

#main-grid-container {
    display: grid;
    grid-template-columns: auto 460px auto;
    grid-template-rows: 80px auto 60px 60px;
    grid-gap: 20px;
}

#header {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
}

#equations {
    grid-row-start: 2;
    grid-column-start: 2;
    padding-top: 100px;
    padding-left: 0px
}

li {
    display: grid;
    grid-template-columns: 50px 120px 60px 120px 5px 15px; 
    grid-gap: 15px;
}

li input {
    height: 35px;
    width: 120px;
    text-align: center;
    text-justify: center;
}

p {
    font-size: 30px;
}

#add-equation {
   height: 50px;
    grid-row-start: 3;
    grid-column-start: 2;
}

#calculate {
    height: 50px;
    grid-row-start: 4;
    grid-column-start: 2;
}

.removeEquation {
    width: 25px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 35px;
    text-align: center; 
}

.alert {
    visibility: hidden;
    grid-row-start: 5;
    grid-column-start: 2;
}